// Google Fonts
// Sans-Serif

$sansSerifFonts: 
  "Arimo",
  "Cabin",
  "Dosis",
  "Droid Sans",
  "Exo",
  "Hind",
  "Lato",
  "Nobile",
  "Nunito",
  "Open Sans",
  "Oswald",
  "Oxygen",
  "Play",
  "Raleway",
  "Roboto",
  "Signika",
  "Ubuntu";
$serifFonts: 
  "Arvo", 
  "Bitter", 
  "Brawler", 
  "Cardo", 
  "Copse", 
  "Coustard", 
  "Droid Serif",
  "Kreon", 
  "Merriweather", 
  "Rokkitt", 
  "Tinos";
$displayFonts:
  "Lobster",
  "Pacifico",
  "Righteous",
  "Chewy",
  "Satisfy",
  "Cookie",
  "Handlee",
  "Bevan",
  "Audiowide";
$fonts: $sansSerifFonts, $serifFonts, $displayFonts;

$str: to-string($fonts);
$str: str-replace($str, '", "', '|');
$str: str-replace($str, 'to-string("', '');
$str: str-replace($str, '")', '');
$str: str-replace($str, ' ', '+');

@import url(//fonts.googleapis.com/css?family=#{$str}:400italic,700italic,400,700);

@each $fontFamily in $fonts {
  @each $name in $fontFamily {
    .font-#{to-lower-case(str-replace($name, " ", "-"))} {
      font-family: $name !important;
    }
  }
}

